.departaments {
    margin-top: 10px;
    width: 850px;
    height: 850px;   
    border-radius: 100%;
    background-color: #6592cd36;
    position: relative;
    display: grid;
    grid-template-columns: auto auto auto auto;
}