.departaments{
    margin-left: 300px;
    height: 1000px;;
    width: 1000px;
    background-color: #6592cd36;
    border-radius: 50%;
    position: relative; 
    display: grid;
    grid-template-columns: auto auto auto;   
}