.card-proffesor {
    display: inline-block;
    margin: 9px;
    height: 30px;
    width: 30px;    
    border-radius: 50%;
    background-color: var(--Faculty-Secondary);
    position: relative;    
}

.name-proffesor {
    max-width: 300px;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 10px;
    z-index: 2;   
}

img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    border: solid 1px;
    border-color: red;
    margin-bottom: 2px;

}

figcaption {
    display: none;
    transition: all .5s;
}

.card-proffesor:hover>figcaption {
    position: absolute;
    display: block;
    transition: all .5s;
    z-index:1 ;
    transform: scale(1.8);
}