.departament__Cepol{
    width: 250px;
    height: 250px;
    margin-bottom: 100px;    
    background-color: var(--PoliticB);
    opacity: 60%;
    border-radius: 50%;
    margin-top: 20%;
    margin-left:25%;
    /* position: absolute; */
}

