.sicology__departament{
    width: 391px;
    height: 391px;
    background-color: var(--PsychologyB);
    opacity: 60%;
    border-radius: 50%;
    margin-left:  46%;
    margin-top: 5%;
    position: absolute;
}