.sociology__departament{
    width: 180px;
    height: 180px;
    background-color: var(--SociologyB);
    opacity: 60%;
    border-radius: 50%;
    margin-top: 42%;
    margin-left:78%;
    position: absolute;
}